@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .shadowCard {
    box-shadow: rgba(8, 23, 53, 0.16) 0px 0px 24px;
  }
  .innerShadow {
    box-shadow: rgba(10, 13, 18, 0.18) 0px 0px 0px 1px;
  }
  .buttonBlue {
    background: rgba(21, 112, 239, 1);
  }
  .buttonGradient {
    border-image-source: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .buttonShadow{
  box-shadow: rgba(10, 13, 18, 0.05) 0px 2px 0px 1px;
  }
}
